@charset "UTF-8";
/* latin */
@font-face {
    font-family: 'Delius Swash Caps';
    font-style: normal;
    font-weight: 400;
    src: local('Delius Swash Caps'),
    local('DeliusSwashCaps-Regular'),
    url("uXyrEUnoWApxIOICunRq78THvgDn7cBCkr9GfjQQw0c.woff2") format('woff2');
    unicode-range: U+0000-00FF,
    U+0131,
    U+0152-0153,
    U+02C6,
    U+02DA,
    U+02DC,
    U+2000-206F,
    U+2074,
    U+20AC,
    U+2212,
    U+2215;
}

[hidden] {
    display: none;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    font-family: "Microsoft JhengHei UI", Arial, sans-serif;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.screen {
    width: 794px;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 1010;
    pointer-events: none;
}

#__game_canvas__ {
    position: relative;
    z-index: 1000;
    pointer-events: auto;
}

.menu_1 {
    background-image: url(../image/menu_1.png);
}

.menu_2 {
    background-image: url(../image/menu_2.png);
}

.menu_3 {
    background-image: url(../image/menu_3.png);
}

.menu {
    background-repeat: no-repeat;
}

.container-wrap {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    /*z-index: 100;*/
    background: #000;
    pointer-events: none;
}

#logo {
    width: 496px;
    height: 80px;
    background-position: 35px -41px;
    margin: 6em auto 4em;
}

#launch_control {
    width: 50%;
    padding: 1em;
    border-radius: 10px;
    border: #5a77d8 3px solid;
    margin: 0 auto;
}

#launch_control .control1 {
    color: #5a77d8;
    cursor: pointer;
    font-family: 'Delius Swash Caps',
    'Microsoft YaHei',
    serif;

    font-size: 1.5em;
    padding: .25em;
    margin: .5em 0;
}

#launch_control .control1:hover {
    color: #FFF;
}

#setting-screen #logo {
    margin: 1em auto .5em;
}

#setting_panel {
    width: 704px;
    height: 353px;
    margin: 0 auto;
    position: relative;
}

#setting-screen .players {
    width: 556px;
    position: absolute;
    left: 148px;
    top: 35px;
}

#setting-screen .player {
    width: 106px;
    margin-right: 33px;
    float: left;
}

#setting-screen .player > * {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#setting-screen .player > :nth-child(1) {
    margin-bottom: 7px;
}

#setting-screen .player > :nth-child(1) {
}

#setting-screen .player > .name {
    outline: none;
    color: #5a77d8;
    border: none;
    ime-mode: inactive;
    background: none;
    font-size: 12px;
    padding: .25em;
    margin-bottom: 6px;
}

#setting-screen .player > .devices {
    height: 92px;
    margin-bottom: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.devices.keyboard {
    background-image: url(../image/keyboard.png);
}

#setting-screen .player > .keys {
    height: 19px;
    margin-bottom: 3px;
    color: #5a77d8;

    font: 12px/19px 'Microsoft YaHei', serif;
    cursor: pointer;
}

#setting-screen .player > .cur {
    color: #FFF;
}

#__setting_container .action_bar .btn {
    width: 151px;
    height: 26px;
    position: absolute;
    cursor: pointer;
}

#__setting_container .action_bar .btn.btn_ok {
    left: 362px;
    top: 320px;
}

#__setting_container .action_bar .btn.btn_cancel {
    left: 534px;
    top: 320px;
}

#__setting_container .action_bar .btn.btn_ok:hover {
    background-position: -489px -426px;
}

#__setting_container .action_bar .btn.btn_cancel:hover {
    background-position: -643px -426px;
}

#loading-screen #loadDatPath {
    position: absolute;
    left: 0;
    top: 75%;
    color: #FFF;
    width: 100%;
    z-index: 5;
    text-align: center;
}

#selection_panel {
    background-image: url(../image/selection_panel.png);
    width: 705px;
    height: 487px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

#selection_panel .players {
    width: calc(580px + 33px);
    height: calc(398px + 25px);
    position: absolute;
    left: 107px;
    top: 62px;

    margin-left: -33px;
    margin-top: -25px;
}

#selection_panel .player {
    width: 120px;
    height: 186px;
    margin-top: 25px;
    margin-left: 33px;

    float: left;

    position: relative;
}

#selection_panel .player > * {
    position: absolute;
}

#selection_panel .player-cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

#selection_panel .player-info {
    left: 0;
    top: 123px;
    width: 100%;
    height: 63px;
}

#selection_panel .player-info > div {
    margin-top: 3px;
    height: 19px;
    overflow: hidden;
    width: 100%;
    font-size: 12px;
    line-height: 19px;
    padding: 0 5px;
    box-sizing: border-box;
    color: #FFF;
}

#selection_panel .player-info > div:first-child {
    margin-top: 0;
}

/*
 * 未選擇
 */
#selection_panel:not(.entering-shown) .player[data-select-stage="0"] .player-cover {
    animation-name: join_game_bg;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes join_game_bg {
    from {
        background-image: url(../image/join_char_1.png);
    }
    to {
        background-image: url(../image/join_char_2.png);
    }
}

.player[data-char="-1"] .player-cover {
    background-image: url(../image/random_char.png);
}

.player[data-char="-1"] .fighter-name:before {
    content: "Random";
}

#selection_panel:not(.entering-shown) .player .flashing {
    animation-name: flashing_text;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flashing_text {
    from {
        color: #91beff;
    }
    to {
        color: #3764ff;
    }
}

#selection_panel .player[data-select-stage="0"] .player-name:before {
    content: "Join?";
}

#selection_panel .player[data-select-stage="2"] .team-name:before,
#selection_panel .player[data-select-stage="3"] .team-name:before,
#selection_panel .player[data-select-stage="4"] .team-name:before {
    content: "Independent";
}

#selection_panel.counting-down .player[data-select-stage="0"] .player-cover {
    animation: none;
}

#selection_panel.counting-down[data-rt="5"] .player[data-select-stage="0"] .player-cover {
    background-image: url(../image/countdown_5.png);
}

#selection_panel.counting-down[data-rt="4"] .player[data-select-stage="0"] .player-cover {
    background-image: url(../image/countdown_4.png);
}

#selection_panel.counting-down[data-rt="3"] .player[data-select-stage="0"] .player-cover {
    background-image: url(../image/countdown_3.png);
}

#selection_panel.counting-down[data-rt="2"] .player[data-select-stage="0"] .player-cover {
    background-image: url(../image/countdown_2.png);
}

#selection_panel.counting-down[data-rt="1"] .player[data-select-stage="0"] .player-cover {
    background-image: url(../image/countdown_1.png);
}

#selection_panel.entering-shown .player[data-select-stage="0"] .player-name:before {
    content: "N/A";
}

#selection_entering_panel {
    display: none;
    width: 320px;
    text-align: center;
    border: 3px solid #334da4;
    padding: 7px;
    background: #20316f;
    border-radius: 10px;
    z-index: 21;
    position: absolute;
    left: 8px;
    top: 8px;
}

#selection_entering_panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
}

#selection_entering_panel li {
    height: 28px;
    line-height: 28px;
    color: #95bdff;
}

#selection_entering_panel li.current {
    color: #fff;
    background: #5670c7;
    display: block;
}

#selection_entering_panel.show {
    display: block;
}

#selection_entering_panel .input {
    display: inline-block;
    height: 1em;
    background: #000;
    color: #FFF;
    text-align: left;
    vertical-align: middle;
    padding: 3px;
    line-height: 1;
    font-size: smaller;

}

#selection_entering_panel > ul > li:nth-child(4) > .input {
    width: 150px;
}

.allow-mouse {
    pointer-events: auto;
}

#__fight_container {
    background: transparent;
}

#statusPanels {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

}

#statusPanels .status {
    width: 198px;
    height: 53px;
    position: relative;
    background: url(../image/player_status_panel.png) no-repeat center;
    float: left;
}

#statusPanels .status > * {
    position: absolute;
}

#statusPanels .status .small {
    left: 7px;
    top: 4px;
    width: 40px;
    height: 45px;
}

#statusPanels .status:not([attached]) > * {
    display: none;
}

#statusPanels .status .bar {
    width: 124px;
    height: 10px;
    overflow: hidden;
}

#statusPanels .status .bar .value {
    height: 100%;
    width: 100%;
}

#statusPanels .status .hp {
    left: 57px;
    top: 15px;
    background: #6f081f;
}

#statusPanels .status .hp .value {
    background: #ff0000;
}

#statusPanels .status .mp {
    left: 57px;
    top: 35px;
    background: #1f086f;
}

#statusPanels .status .mp .value {
    background: #0000ff;
    left: 57px;
    top: 35px;
}

#funcKeyStatus {
    width: 100%;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 108px;
    left: 0;
    color: #FFF;
    font-size: smaller;
    padding: 0 5px;
    text-align: left;
}

#gameOverPanel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    background: #244790;
    box-sizing: content-box;
    border: 5px solid #000;
    font-size: 10px;
    color: #FFF;
}

#gameOverPanel > table {
    width: 100%;
    padding: 5px;
    table-layout: fixed;
}

#gameOverPanel > table caption {
    background: #11286c;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
}

#gameOverPanel thead .eng {
    display: block;
}

#gameOverPanel .cht:before {
    content: "(";
}

#gameOverPanel .cht:after {
    content: ")";
}

#gameOverPanel tfoot {
    font-size: smaller;
}

#gameOverPanel .time {
    text-align: right;
}

#gameOverPanel .player-row img {
    vertical-align: middle;
}

#gameOverPanel .hint-continue {
    font-size: 16px;
    transform: scale(.75);
    transform-origin: bottom left;
    text-align: left;
}

#gameOverPanel .time-value {
    padding: 0 5px;
    background: #000;
}

#gameOverPanel tbody .cell {
    vertical-align: middle;
}

#gameOverPanel tbody .cell .value {
    background: #000;
    border-right: 3px #2c2f3d solid;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    text-align: left;
}

#gameOverPanel .time{
    float: right;
}

#gameOverPanel .time{
    float: right;
}

#gameOverPanel .hint-continue{
    float: left;
}

#gameOverPanel tbody .cell:last-of-type .value {
    border-right: none;
}

#gameOverPanel .player-row .cell{
    padding-top: 10px;
}

#gameOverPanel .cell-player{
    width: 80px;
}

#gameOverPanel .cell-attack{
    width: 80px;
}

#gameOverPanel .cell-hp, #gameOverPanel .cell-mp{
    width: 70px;
}

#gameOverPanel .cell-status{
    width: 80px;
}

#gameOverPanel tbody .cell-status .value{
    text-align: center;
}

#gameOverPanel .cell-status[data-status="alive"] .value:before {
    content: "Win (Alive)";
    color: #85ff85;
}

#gameOverPanel .cell-status[data-status="dead"] .value:before {
    content: "Lose (Dead)";
    color: #ff9898;
}